<nav th:fragment="navbar">
    <div class="logo">
      <a href="/">
        <img th:src="@{/image/logo.png}" alt="Tivoli Logo">
        <span>Tivoli</span>
      </a>
    </div>
    
    <div class="user" th:if="${#authorization.expression('isAuthenticated()')}">
      <span th:text="${#authentication.name}"></span>
      <span th:if="${#authorization.expression('hasAuthority(''recruiter'')')}" th:text="${#authentication.getPrincipal().getAuthorities()[0]}"></span>
      <a href="/logout">Logout</a>
    </div>
</nav>