<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

  <body>
    <!-- Header -->
    <header th:replace="../static/fragments/header :: header"></header>

    <!-- Navigation -->
    <nav th:replace="../static/fragments/navbar :: navbar"></nav>
    
    <!-- Content -->
    <div class="welcome">
      <h1>Welcome to Tivoli!</h1>
      <p>This is the starting page of the website.</p>
      <div class="button-container">
        <div th:if="${not #authorization.expression('isAuthenticated()')}">
          <button class="button" onclick="location.href='/login'">Login</button>
          <button class="button" onclick="location.href='/register'">Register a new user</button>
        </div>              
        <div th:if="${#authorization.expression('hasAuthority(''applicant'')')}">
          <button class="button" onclick="location.href='/application'">Application Form!</button>
        </div>
        <div th:if="${#authorization.expression('hasAuthority(''recruiter'')')}">
          <button class="button" onclick="location.href='/viewApplications'">View Application Forms!</button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer th:replace="../static/fragments/footer :: footer"></footer>

  </body>
</html>