<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Tivoli</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/recruitment.css}">
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
      <img th:src="@{/logo/logo.png}" alt="Logo">
      <p class="admin"><span th:text="${#authentication.name}"></span> <span th:text="${#authentication.authorities}"></span></p>
    </div>
    

    <!-- Welcome text -->
    <div class="welcome">
      <h1>SUCCESS!</h1>
      <p>Login succesfull.</p>
    </div>
  </body>
</html>