<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

  <body>
    <!-- Header -->
    <header th:replace="../static/fragments/header :: header"></header>

    <!-- Navigation -->
    <nav th:replace="../static/fragments/navbar :: navbar"></nav>

    <!-- Content -->
    <div class="login-form">
      <form action="#" th:action="@{/login}" method="post">
        <table>
          <thead>
            <tr>
              <td><h2>Login</h2></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td th:if="${param.error}" class="error-message">Invalid username and/or password.</td>
            </tr>
            <tr>
              <td><input type="text" id="username" name="username" placeholder="Username" required /></td>
            </tr>
            <tr>
              <td><input type="password" id="password" name="password" placeholder="Password" required /></td>
            </tr>
            <tr>
              <td><button type="submit">Submit</button></td>
            </tr>
            <tr>
              <td><a href="/register">Register an account.</a></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- Footer -->
    <footer th:replace="../static/fragments/footer :: footer"></footer>

  </body>
</html>
