<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Tivoli - Login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/recruitment.css}">
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
      <img src="https://media.licdn.com/dms/image/C4D03AQHatLQ14iQ1wg/profile-displayphoto-shrink_200_200/0/1667989845640?e=1683158400&v=beta&t=SJBtPXtPfGO7IVS7YqU2_D0AOUEQHO7cU_vRRbjfj6g" alt="Logo">
    </div>

    <!-- Login form -->
    <div class="login-form">
      <h2>hey 1</h2>
      <p>You amde it 1!</p>
    </div>
  </body>
</html>
